In [1]:
import numpy as np
import pandas as pd

# 9.1.5 按索引层级来分组

In [2]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'],
                                     [1, 3, 5, 1, 3]],
                                    names=['cty', 'tenor'])
columns

MultiIndex(levels=[['JP', 'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['cty', 'tenor'])

In [3]:
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0     -0.041253  2.531507  1.046353  0.171531  0.119417
1      0.036066  1.112291  0.080255  1.513840  0.589012
2      0.195993  1.209015 -0.384748 -1.854896  0.778566
3     -1.345536 -0.723617 -1.681261 -1.107387 -0.692973

In [4]:
for name, table in hier_df.groupby(level='cty', axis=1): 
    print(name)
    print(table)
    print()

JP
cty          JP
tenor         1         3
0      0.171531  0.119417
1      1.513840  0.589012
2     -1.854896  0.778566
3     -1.107387 -0.692973

US
cty          US
tenor         1         3         5
0     -0.041253  2.531507  1.046353
1      0.036066  1.112291  0.080255
2      0.195993  1.209015 -0.384748
3     -1.345536 -0.723617 -1.681261

In [5]:
hier_df.groupby(level='cty', axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3

In [6]:
for name, table in hier_df.groupby(level='tenor', axis=1): 
    print(name)
    print(table)
    print()

1
cty          US        JP
tenor         1         1
0     -0.041253  0.171531
1      0.036066  1.513840
2      0.195993 -1.854896
3     -1.345536 -1.107387

3
cty          US        JP
tenor         3         3
0      2.531507  0.119417
1      1.112291  0.589012
2      1.209015  0.778566
3     -0.723617 -0.692973

5
cty          US
tenor         5
0      1.046353
1      0.080255
2     -0.384748
3     -1.681261

In [7]:
hier_df.groupby(level='tenor', axis=1).count()

tenor  1  3  5
0      2  2  1
1      2  2  1
2      2  2  1
3      2  2  1