In [1]:
import numpy as np
import pandas as pd

# 9.1.1对组进行迭代

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'], 
                   'data1' : np.random.randn(5), 
                   'data2' : np.random.randn(5)})
df

      data1     data2 key1 key2
0  0.602672 -0.153728    a  one
1 -1.166786  0.871599    a  two
2 -0.307108  1.167310    b  one
3  1.366195 -0.766119    b  two
4  0.743838  1.107452    a  one

In [3]:
for name, group in df.groupby('key1'):
    print("name:", name)
    print("group:\n", group)
    print("==========================\n")

name: a
group:
       data1     data2 key1 key2
0  0.602672 -0.153728    a  one
1 -1.166786  0.871599    a  two
4  0.743838  1.107452    a  one
==========================

name: b
group:
       data1     data2 key1 key2
2 -0.307108  1.167310    b  one
3  1.366195 -0.766119    b  two
==========================

In [4]:
for (k1, k2), group in df.groupby(['key1', 'key2']):
    print((k1, k2))
    print("group:\n", group)
    print("==========================\n")

('a', 'one')
group:
       data1     data2 key1 key2
0  0.602672 -0.153728    a  one
4  0.743838  1.107452    a  one
==========================

('a', 'two')
group:
       data1     data2 key1 key2
1 -1.166786  0.871599    a  two
==========================

('b', 'one')
group:
       data1    data2 key1 key2
2 -0.307108  1.16731    b  one
==========================

('b', 'two')
group:
       data1     data2 key1 key2
3  1.366195 -0.766119    b  two
==========================

In [5]:
list(df.groupby('key1'))

[('a',       data1     data2 key1 key2
  0  0.602672 -0.153728    a  one
  1 -1.166786  0.871599    a  two
  4  0.743838  1.107452    a  one), ('b',       data1     data2 key1 key2
  2 -0.307108  1.167310    b  one
  3  1.366195 -0.766119    b  two)]

In [6]:
pieces = dict(list(df.groupby('key1')))
pieces

{'a':       data1     data2 key1 key2
 0  0.602672 -0.153728    a  one
 1 -1.166786  0.871599    a  two
 4  0.743838  1.107452    a  one, 'b':       data1     data2 key1 key2
 2 -0.307108  1.167310    b  one
 3  1.366195 -0.766119    b  two}

In [7]:
print(type(pieces['b']))
pieces['b']

<class 'pandas.core.frame.DataFrame'>

      data1     data2 key1 key2
2 -0.307108  1.167310    b  one
3  1.366195 -0.766119    b  two

groupby默认作用于axis=0，但是我们可以指定任意的轴。例如，我们可以按dtyple来对列进行分组：

In [8]:
df.dtypes

data1    float64
data2    float64
key1      object
key2      object
dtype: object

In [9]:
grouped = df.groupby(df.dtypes, axis=1)
for dtype, group in grouped:
    print(dtype)
    print(group)
    print()

float64
      data1     data2
0  0.602672 -0.153728
1 -1.166786  0.871599
2 -0.307108  1.167310
3  1.366195 -0.766119
4  0.743838  1.107452

object
  key1 key2
0    a  one
1    a  two
2    b  one
3    b  two
4    a  one