# 9.2.0 Data Aggregation（数据聚合）

In [78]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'], 
                   'data1' : [-1, 1, 1, 3, 4], 
                   'data2' : [4, 5, 6, 5, 8]})
df

   data1  data2 key1 key2
0     -1      4    a  one
1      1      5    a  two
2      1      6    b  one
3      3      5    b  two
4      4      8    a  one

In [79]:
grouped = df.groupby('key1')
for key, group in grouped:
    print(key)
    print(group)

a
   data1  data2 key1 key2
0     -1      4    a  one
1      1      5    a  two
4      4      8    a  one
b
   data1  data2 key1 key2
2      1      6    b  one
3      3      5    b  two

In [84]:
grouped['data1'].quantile(0.5)

key1
a    1.0
b    2.0
Name: data1, dtype: float64

如果想用自己设计的聚合函数，把用于聚合数组的函数传入到aggregate或agg方法即可：

In [82]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

grouped.agg(peak_to_peak)

      data1  data2
key1
a         5      4
b         2      1

In [83]:
grouped.describe()

     data1                                              data2            \
     count      mean       std  min  25%  50%  75%  max count      mean
key1
a      3.0  1.333333  2.516611 -1.0  0.0  1.0  2.5  4.0   3.0  5.666667
b      2.0  2.000000  1.414214  1.0  1.5  2.0  2.5  3.0   2.0  5.500000


           std  min   25%  50%   75%  max
key1
a     2.081666  4.0  4.50  5.0  6.50  8.0
b     0.707107  5.0  5.25  5.5  5.75  6.0