In [1]:
import numpy as np
np.random.seed(9)
import pandas as pd

# 9.3.2 分位数与桶分析

In [2]:
frame = pd.DataFrame({'data1': np.random.randn(1000),
                       'data2': np.random.randn(1000)})
frame.head()

      data1     data2
0  0.001109 -0.153534
1 -0.289544  0.138187
2 -1.116066  0.190899
3 -0.012883  0.522587
4 -0.378361 -1.029638

In [6]:
quartiles = pd.cut(frame.data1, 4)
print("类型:", type(quartiles))
print("描述:\n", quartiles.describe())
quartiles[:10]

类型: <class 'pandas.core.series.Series'>
描述:
 count                1000
unique                  4
top       (-1.379, 0.151]
freq                  465
Name: data1, dtype: object

0     (-1.379, 0.151]
1     (-1.379, 0.151]
2     (-1.379, 0.151]
3     (-1.379, 0.151]
4     (-1.379, 0.151]
5     (-1.379, 0.151]
6    (-2.915, -1.379]
7     (-1.379, 0.151]
8     (-1.379, 0.151]
9     (-1.379, 0.151]
Name: data1, dtype: category
Categories (4, interval[float64]): [(-2.915, -1.379] < (-1.379, 0.151] < (0.151, 1.68] < (1.68, 3.21]]

In [7]:
def get_stats(group):
    return {'min': group.min(), 'max': group.max(), 
            'count': group.count(), 'mean': group.mean()}

grouped = frame.data2.groupby(quartiles)
# for i, j in grouped:
#     print(i)
#     print(j)
#     print()

In [8]:
grouped.apply(get_stats)

data1
(-2.915, -1.379]  count     82.000000
                  max        2.183334
                  mean      -0.265673
                  min       -2.454253
(-1.379, 0.151]   count    465.000000
                  max        3.426141
                  mean       0.009411
                  min       -3.593636
(0.151, 1.68]     count    404.000000
                  max        3.190809
                  mean      -0.063330
                  min       -2.759428
(1.68, 3.21]      count     49.000000
                  max        1.820498
                  mean       0.025273
                  min       -3.046030
Name: data2, dtype: float64

In [19]:
grouped.apply(get_stats).unstack()

                  count       max      mean       min
data1
(-2.915, -1.379]   82.0  2.183334 -0.265673 -2.454253
(-1.379, 0.151]   465.0  3.426141  0.009411 -3.593636
(0.151, 1.68]     404.0  3.190809 -0.063330 -2.759428
(1.68, 3.21]       49.0  1.820498  0.025273 -3.046030

# =====================================

In [23]:
grouping = pd.qcut(frame.data1, 10, labels=False)
grouping.describe()

count    1000.000000
mean        4.500000
std         2.873719
min         0.000000
25%         2.000000
50%         4.500000
75%         7.000000
max         9.000000
Name: data1, dtype: float64

In [20]:
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats)

data1
0      count    100.000000
       max        2.183334
       mean      -0.255106
       min       -2.454253
1      count    100.000000
       max        3.049230
       mean       0.171266
       min       -2.772455
2      count    100.000000
       max        2.469896
       mean      -0.002713
       min       -2.849580
3      count    100.000000
       max        2.304360
       mean      -0.008654
       min       -3.593636
4      count    100.000000
       max        3.426141
       mean      -0.097146
       min       -2.501094
5      count    100.000000
       max        2.634608
       mean       0.169993
       min       -2.559880
6      count    100.000000
       max        2.689162
       mean       0.008433
       min       -2.321027
7      count    100.000000
       max        3.190809
       mean      -0.130559
       min       -2.759428
8      count    100.000000
       max        2.018009
       mean      -0.118268
       min       -2.357042
9      count    100.000000
       max        2.503975
       mean      -0.154806
       min       -3.046030
Name: data2, dtype: float64

In [21]:
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.183334 -0.255106 -2.454253
1      100.0  3.049230  0.171266 -2.772455
2      100.0  2.469896 -0.002713 -2.849580
3      100.0  2.304360 -0.008654 -3.593636
4      100.0  3.426141 -0.097146 -2.501094
5      100.0  2.634608  0.169993 -2.559880
6      100.0  2.689162  0.008433 -2.321027
7      100.0  3.190809 -0.130559 -2.759428
8      100.0  2.018009 -0.118268 -2.357042
9      100.0  2.503975 -0.154806 -3.046030