In [1]:
import numpy as np
import pandas as pd

对于pandas的Categorical类型，会在第十二章做详细介绍。

# 9.3.3 例子：用组特异性值来填充缺失值

In [2]:
s = pd.Series(np.random.randn(6))
s[::2] = np.nan
s

0         NaN
1   -0.863147
2         NaN
3    0.897158
4         NaN
5   -1.570986
dtype: float64

In [3]:
s.fillna(s.mean())

0   -0.512325
1   -0.863147
2   -0.512325
3    0.897158
4   -0.512325
5   -1.570986
dtype: float64

In [4]:
states = ['Ohio', 'New York', 'Vermont', 'Florida',
          'Oregon', 'Nevada', 'California', 'Idaho']

data = pd.Series(np.random.randn(8), index=states)
data

Ohio          0.352871
New York     -1.727954
Vermont      -0.528934
Florida      -0.616754
Oregon       -0.915110
Nevada        0.200175
California    0.899231
Idaho        -1.354023
dtype: float64

In [5]:
data[['Vermont', 'Nevada', 'Idaho']] = np.nan
data

Ohio          0.352871
New York     -1.727954
Vermont            NaN
Florida      -0.616754
Oregon       -0.915110
Nevada             NaN
California    0.899231
Idaho              NaN
dtype: float64

In [6]:
group_key = ['East'] * 4 + ['West'] * 4
data.groupby(group_key).mean()

East   -0.663946
West   -0.007940
dtype: float64

In [7]:
fill_mean = lambda g: g.fillna(g.mean())
data.groupby(group_key).apply(fill_mean)

Ohio          0.352871
New York     -1.727954
Vermont      -0.663946
Florida      -0.616754
Oregon       -0.915110
Nevada       -0.007940
California    0.899231
Idaho        -0.007940
dtype: float64

In [8]:
fill_values = {'East': 0.5, 'West': -1}
fill_func = lambda g: g.fillna(fill_values[g.name])
data.groupby(group_key).apply(fill_func)

Ohio          0.352871
New York     -1.727954
Vermont       0.500000
Florida      -0.616754
Oregon       -0.915110
Nevada       -1.000000
California    0.899231
Idaho        -1.000000
dtype: float64