In [1]:
import numpy as np
import pandas as pd

## 5.2.7 排序

按row或column index来排序的话，可以用sort_index方法，会返回一个新的object：

In [106]:
obj = pd.Series([np.nan, 5, 5, np.nan, 1, 6], index=['d', 'a', 'b', 'c', 'e', 'f'])
obj

d    NaN
a    5.0
b    5.0
c    NaN
e    1.0
f    6.0
dtype: float64

In [107]:
obj.sort_values() # 缺失值会被排在最后

e    1.0
a    5.0
b    5.0
f    6.0
d    NaN
c    NaN
dtype: float64

In [108]:
obj.sort_index()

a    5.0
b    5.0
c    NaN
d    NaN
e    1.0
f    6.0
dtype: float64

In [109]:
obj.rank() # 默认去平均值

d    NaN
a    2.5
b    2.5
c    NaN
e    1.0
f    4.0
dtype: float64

In [110]:
obj.rank(method='first')

d    NaN
a    2.0
b    3.0
c    NaN
e    1.0
f    4.0
dtype: float64

In [111]:
obj.rank(method='max')

d    NaN
a    3.0
b    3.0
c    NaN
e    1.0
f    4.0
dtype: float64

In [112]:
obj.rank(ascending=False)

d    NaN
a    2.5
b    2.5
c    NaN
e    4.0
f    1.0
dtype: float64

在DataFrame，可以用index或其他axis来排序：

In [113]:
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                     index=['one', 'four'],
                     columns=['d', 'a', 'b', 'c'])
frame

      d  a  b  c
one   0  1  2  3
four  4  5  6  7

In [114]:
frame.sort_index()

      d  a  b  c
four  4  5  6  7
one   0  1  2  3

In [115]:
frame.sort_index(axis=1)

      a  b  c  d
one   1  2  3  0
four  5  6  7  4

默认是升序，可以设置降序：

In [116]:
frame.sort_index(axis=1, ascending=False)

      d  c  b  a
one   0  3  2  1
four  4  7  6  5

对于一个DataFrame，可以用一列或多列作为sort keys。这样的话，只需要把一列多多列的名字导入到sort_values即可：

In [117]:
frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame

   a  b
0  0  4
1  1  7
2  0 -3
3  1  2

In [118]:
frame.sort_values(by='b')

   a  b
2  0 -3
3  1  2
0  0  4
1  1  7

多列排序的话，传入一个list of names：

In [119]:
frame.sort_values(by=['a', 'b'])

   a  b
2  0 -3
0  0  4
3  1  2
1  1  7

dataframe 可以根据行或列来计算rank:

In [120]:
frame = pd.DataFrame({'b': [234, 434,674, 563],
                      'a': [-45, 947, 979, -874],
                      'c': [345, 54, 32,  765]})
frame

     a    b    c
0  -45  234  345
1  947  434   54
2  979  674   32
3 -874  563  765

In [121]:
frame.rank(axis='columns') # columns表示列与列之间的排序（即每一行里数据间的排序）

     a    b    c
0  1.0  2.0  3.0
1  3.0  2.0  1.0
2  3.0  2.0  1.0
3  1.0  2.0  3.0

![](http://oydgk2hgw.bkt.clouddn.com/pydata-book/6xv9c.png)