In [1]:
import numpy as np
import pandas as pd

## 5.2.6 函数应用和映射

In [93]:
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'), 
                     index=['Utah', 'Ohio', 'Texas', 'Oregon'])
frame

               b         d         e
Utah   -0.092880 -0.427411  0.632637
Ohio   -0.323879 -0.917937  0.281727
Texas  -0.702553 -0.068197  1.416389
Oregon -0.524245 -0.040586 -0.428826

In [94]:
np.abs(frame)

               b         d         e
Utah    0.092880  0.427411  0.632637
Ohio    0.323879  0.917937  0.281727
Texas   0.702553  0.068197  1.416389
Oregon  0.524245  0.040586  0.428826

另一个常用的操作是把一个用在一维数组上的函数，应用在一行或一列上。要用到DataFrame中的apply函数：

In [95]:
f = lambda x: x.max()
frame.apply(f) # axis default 0,0代表 index

b   -0.092880
d   -0.040586
e    1.416389
dtype: float64

In [96]:
frame.apply(f, axis='columns')

Utah      0.632637
Ohio      0.281727
Texas     1.416389
Oregon   -0.040586
dtype: float64

In [97]:
def f(x): 
    return pd.Series([x.min(), x.max()], index=['min', 'max'])

In [98]:
frame

               b         d         e
Utah   -0.092880 -0.427411  0.632637
Ohio   -0.323879 -0.917937  0.281727
Texas  -0.702553 -0.068197  1.416389
Oregon -0.524245 -0.040586 -0.428826

In [99]:
frame.apply(f)

            b         d         e
min -0.702553 -0.917937 -0.428826
max -0.092880 -0.040586  1.416389

apply map：

In [100]:
format = lambda x: '%.2f' % x

In [101]:
frame.applymap(format)

            b      d      e
Utah    -0.09  -0.43   0.63
Ohio    -0.32  -0.92   0.28
Texas   -0.70  -0.07   1.42
Oregon  -0.52  -0.04  -0.43

In [102]:
frame  # 原始值不变

               b         d         e
Utah   -0.092880 -0.427411  0.632637
Ohio   -0.323879 -0.917937  0.281727
Texas  -0.702553 -0.068197  1.416389
Oregon -0.524245 -0.040586 -0.428826

applymap的做法是，series有一个map函数，能用来实现element-wise函数：

In [103]:
frame['e']

Utah      0.632637
Ohio      0.281727
Texas     1.416389
Oregon   -0.428826
Name: e, dtype: float64

In [104]:
frame['e'].map(format)

Utah       0.63
Ohio       0.28
Texas      1.42
Oregon    -0.43
Name: e, dtype: object

In [105]:
frame['e']  # # 原始值不变

Utah      0.632637
Ohio      0.281727
Texas     1.416389
Oregon   -0.428826
Name: e, dtype: float64