In [1]:
import numpy as np
import pandas as pd

# 5.5.3 根据级别汇总

In [49]:
df = pd.DataFrame(np.arange(12).reshape(4, 3),
                 index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                 columns=[['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']])
df.index.names = ["key1", 'key2']
df.columns.names = ["state", 'color']
df

state      Ohio     Colorado
color     Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [51]:
df.sum(level=0)

state  Ohio     Colorado
color Green Red    Green
key1
a         3   5        7
b        15  17       19

In [50]:
df.sum(level=1) #

state  Ohio     Colorado
color Green Red    Green
key2
1         6   8       10
2        12  14       16

In [24]:
df.sum(level='color', axis=1)

color      Green  Red
key1 key2
a    1         2    1
     2         8    4
b    1        14    7
     2        20   10