In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame(np.arange(16).reshape(4, 4),
                    index=['Ohio', 'Colorado', 'Utah', 'New York'],
                    columns=['one', 'two', 'three', 'four'])
df

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [3]:
# 选1行数据
print(df.iloc[1], '\n')

one      4
two      5
three    6
four     7
Name: Colorado, dtype: int32

In [4]:
# 选多行数据
print(df[:2], type(df[:2]), '\n')
print(df.loc[['Ohio', 'Colorado']])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7 <class 'pandas.core.frame.DataFrame'>

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7

In [5]:
# 选一行中的多列数据
print(df.loc['Colorado', ['two', 'three']], '\n')
print(df.iloc[1, [1, 2]], '\n')
print(df.iloc[1, 1:3], '\n')

two      5
three    6
Name: Colorado, dtype: int32

two      5
three    6
Name: Colorado, dtype: int32

two      5
three    6
Name: Colorado, dtype: int32

In [6]:
# 选择一列
print(df['two'])

Ohio         1
Colorado     5
Utah         9
New York    13
Name: two, dtype: int32

In [7]:
# 选择多列
print(df[['two', 'three']])

          two  three
Ohio        1      2
Colorado    5      6
Utah        9     10
New York   13     14

In [8]:
#选择一列的多行数据
print(df.loc[:'Utah', 'two'])

Ohio        1
Colorado    5
Utah        9
Name: two, dtype: int32

In [9]:
# 选择多行多列数据
data1 = df.iloc[[1, 2], [0, 2]]
print(type(data1), data1, sep='\n')
print()

data2 = df.iloc[:2, :3]
print(type(data2), data2, sep='\n')

<class 'pandas.core.frame.DataFrame'>
          one  three
Colorado    4      6
Utah        8     10

<class 'pandas.core.frame.DataFrame'>
          one  two  three
Ohio        0    1      2
Colorado    4    5      6

In [10]:
# 具体数据本身
print(df.iloc[1, 1])

5