# 7.3 数据转换

In [1]:
import pandas as pd
import numpy as np

# 7.3.7 排列和随机采样

排列（随机排序）一个series或DataFrame中的row，用numpy.random.permutation函数很容易就能做到。调用permutation的时候设定好你想要进行排列的axis，会产生一个整数数组表示新的顺序：

In [51]:
df = pd.DataFrame(np.arange(5 * 4).reshape((5, 4)))
df

    0   1   2   3
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15
4  16  17  18  19

In [52]:
sampler = np.random.permutation(5)
sampler

array([2, 1, 3, 4, 0])

这个数组能被用在基于iloc上的indexing或take函数：

In [53]:
df.take(sampler)

    0   1   2   3
2   8   9  10  11
1   4   5   6   7
3  12  13  14  15
4  16  17  18  19
0   0   1   2   3

为了选中一个随机的子集，而且没有代替功能(既不影响原来的值，返回一个新的series或DataFrame)，可以用sample方法：

In [54]:
df.sample(n=3)

    0   1   2   3
4  16  17  18  19
2   8   9  10  11
1   4   5   6   7

如果想要生成的样本带有替代功能(即允许重复)，给sample中设定replace=True:

In [55]:
choices = pd.Series([5, 7, -1, 6, 4])

draws = choices.sample(n=10, replace=True)

draws

2   -1
0    5
2   -1
3    6
3    6
2   -1
3    6
2   -1
0    5
1    7
dtype: int64