# 9 数据汇总和组操作

In [1]:
import numpy as np
import pandas as pd

# 9.1.5 按索引层级来分组

最后关于多层级索引数据集(hierarchically indexed dataset)，一个很方便的用时是在聚集（aggregate）的时候，使用轴索引的层级（One of the levels of an axis index）。看下面的例子：

In [2]:
columns = pd.MultiIndex.from_arrays([['US', 'US', 'US', 'JP', 'JP'], 
                                     [1, 3, 5, 1, 3]], 
                                    names=['cty', 'tenor'])
columns

MultiIndex(levels=[['JP', 'US'], [1, 3, 5]],
           labels=[[1, 1, 1, 0, 0], [0, 1, 2, 0, 1]],
           names=['cty', 'tenor'])

In [3]:
hier_df = pd.DataFrame(np.random.randn(4, 5), columns=columns)
hier_df

cty          US                            JP
tenor         1         3         5         1         3
0     -0.085527  1.936693  0.316461  1.495741  0.017327
1      1.205042 -1.343855  0.136232  0.261867 -0.634232
2      0.166305  0.656057 -0.258652  0.403137 -0.625799
3      0.209704 -0.211965  0.256070  0.742793 -0.863344

要想按层级分组，传入层级的数字或者名字，通过使用level关键字：

In [4]:
hier_df.groupby(level='cty', axis=1).count()

cty  JP  US
0     2   3
1     2   3
2     2   3
3     2   3