# 9 数据汇总和组操作

In [1]:
import numpy as np
import pandas as pd

# 9.1.2 选中一列或列的子集

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'], 
                   'data1' : np.random.randn(5), 
                   'data2' : np.random.randn(5)})
df

      data1     data2 key1 key2
0 -0.585647 -0.290645    a  one
1  0.911064  0.059024    a  two
2 -0.178198  0.421410    b  one
3 -0.059069 -1.563277    b  two
4 -0.676022 -0.404522    a  one

In [3]:
print(type(df['key1']))
df['key1']

<class 'pandas.core.series.Series'>

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

In [4]:
print(type(df[['key1']]))
df[['key1']]

<class 'pandas.core.frame.DataFrame'>

  key1
0    a
1    a
2    b
3    b
4    a

In [5]:
df.groupby(['key1', 'key2'])

In [6]:
df.groupby(['key1', 'key2'])[['data2', 'data1']]

In [7]:
df.groupby(['key1', 'key2'])[['data2', 'data1']].mean()

              data2     data1
key1 key2
a    one  -0.347584 -0.630835
     two   0.059024  0.911064
b    one   0.421410 -0.178198
     two  -1.563277 -0.059069

In [8]:
df.groupby(['key1', 'key2'])['data2', 'data1'].mean()

              data2     data1
key1 key2
a    one  -0.347584 -0.630835
     two   0.059024  0.911064
b    one   0.421410 -0.178198
     two  -1.563277 -0.059069

如果一个list或一个数组被传入，返回的对象是一个分组后的DataFrame，如果传入的只是单独一个列名，那么返回的是一个分组后的grouped：

In [9]:
df.groupby(['key1', 'key2'])['data2'].mean()

key1  key2
a     one    -0.347584
      two     0.059024
b     one     0.421410
      two    -1.563277
Name: data2, dtype: float64