In [20]:
import numpy as np
np.random.seed(3)
import pandas as pd

# 9.1.4 用函数进行分组

In [21]:
people = pd.DataFrame(np.random.randn(5, 5),
                      columns=['a', 'b', 'c', 'd', 'e'],
                      index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
people

               a         b         c         d         e
Joe     1.788628  0.436510  0.096497 -1.863493 -0.277388
Steve  -0.354759 -0.082741 -0.627001 -0.043818 -0.477218
Wes    -1.313865  0.884622  0.881318  1.709573  0.050034
Jim    -0.404677 -0.545360 -1.546477  0.982367 -1.101068
Travis -1.185047 -0.205650  1.486148  0.236716 -1.023785

In [22]:
# 根据index的长短分组
for name, table in people.groupby(len): # len函数在每一个index（即名字）上被调用了
    print(name)
    print(table)
    print()

3
            a         b         c         d         e
Joe  1.788628  0.436510  0.096497 -1.863493 -0.277388
Wes -1.313865  0.884622  0.881318  1.709573  0.050034
Jim -0.404677 -0.545360 -1.546477  0.982367 -1.101068

5
              a         b         c         d         e
Steve -0.354759 -0.082741 -0.627001 -0.043818 -0.477218

6
               a        b         c         d         e
Travis -1.185047 -0.20565  1.486148  0.236716 -1.023785

In [23]:
people.groupby(len).sum() # len函数在每一个index（即名字）上被调用了

          a         b         c         d         e
3  0.070086  0.775772 -0.568662  0.828448 -1.328422
5 -0.354759 -0.082741 -0.627001 -0.043818 -0.477218
6 -1.185047 -0.205650  1.486148  0.236716 -1.023785

混合不同的函数、数组，字典或series都不成问题，因为所有对象都会被转换为数组：

In [24]:
key_list = ['one', 'one', 'one', 'two', 'two']
for name, table in people.groupby([len, key_list]): 
    print(name)
    print(table)
    print()

(3, 'one')
            a         b         c         d         e
Joe  1.788628  0.436510  0.096497 -1.863493 -0.277388
Wes -1.313865  0.884622  0.881318  1.709573  0.050034

(3, 'two')
            a        b         c         d         e
Jim -0.404677 -0.54536 -1.546477  0.982367 -1.101068

(5, 'one')
              a         b         c         d         e
Steve -0.354759 -0.082741 -0.627001 -0.043818 -0.477218

(6, 'two')
               a        b         c         d         e
Travis -1.185047 -0.20565  1.486148  0.236716 -1.023785

In [25]:
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -1.313865  0.436510  0.096497 -1.863493 -0.277388
  two -0.404677 -0.545360 -1.546477  0.982367 -1.101068
5 one -0.354759 -0.082741 -0.627001 -0.043818 -0.477218
6 two -1.185047 -0.205650  1.486148  0.236716 -1.023785