In [1]:
import numpy as np
import pandas as pd

## 5.2.8 有重复label的轴索引

我们看到的所有例子都有unique axis labels(index values),唯一的轴标签（索引值）。一些pandas函数（reindex）,需要label是唯一的，但这并是不强制的。比如下面有一个重复的索引：

In [122]:
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj

a    0
a    1
b    2
b    3
c    4
dtype: int32

index的is_unique特性能告诉我们label是否是唯一的：

In [123]:
obj.index.is_unique

False

数据选择对于重复label则表现有点不同。如果一个label有多个值，那么就会返回一个series, 如果是label只对应一个值的话，会返回一个标量：

In [124]:
obj['a']

a    0
a    1
dtype: int32

In [125]:
obj['c']

4

这个选择的逻辑也应用于DataFrame：

In [126]:
df = pd.DataFrame(np.random.randn(4, 3), index=['a', 'a', 'b', 'b'])
df

          0         1         2
a  1.191568  0.092811 -0.859180
a -1.102470 -0.984884  0.803740
b  0.291751 -1.233140  0.107976
b  1.203453  0.582054  0.293235

In [127]:
df.loc['b']

          0         1         2
b  0.291751 -1.233140  0.107976
b  1.203453  0.582054  0.293235