# 5.3.1 汇总和描述性统计

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5], [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

使用sum的话，会返回一个series:
默认的axis是index或0

In [3]:
df.sum() # 等价于 df.sum(axis='index')  等价于 df.sum(axis=0)

one    9.25
two   -5.80
dtype: float64

使用`axis='columns'` or `axis=1`，计算列之间的和：

In [4]:
df.sum(axis='columns') # 等价于 df.sum(axis=1)

a    1.40
b    2.60
c    0.00
d   -0.55
dtype: float64

计算的时候，NA（即缺失值）会被除外：

In [5]:
df.mean(axis='columns', skipna=False) # 有一个为NaN, 就是NaN

a      NaN
b    1.300
c      NaN
d   -0.275
dtype: float64

In [6]:
df.mean(axis='columns') # default True, 全部是NaN才是NaN

a    1.400
b    1.300
c      NaN
d   -0.275
dtype: float64

In [7]:
df

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

In [8]:
df.idxmax(axis=1) # === df.idxmax(axis='columns')

a    one
b    one
c    NaN
d    one
dtype: object

In [9]:
df.idxmax() # === df.idxmax(axis=0) === df.idxmax(axis='index')

one    b
two    d
dtype: object

还能计算累加值：

In [10]:
df.cumsum()  # === df.cumsum(axis=0) === df.cumsum(axis='index')

    one  two
a  1.40  NaN
b  8.50 -4.5
c   NaN  NaN
d  9.25 -5.8

In [11]:
df.cumsum(axis='columns') ## df.cumsum(axis=1)

    one   two
a  1.40   NaN
b  7.10  2.60
c   NaN   NaN
d  0.75 -0.55

describe能一下子产生多维汇总数据：

In [12]:
df.describe()

            one       two
count  3.000000  2.000000
mean   3.083333 -2.900000
std    3.493685  2.262742
min    0.750000 -4.500000
25%    1.075000 -3.700000
50%    1.400000 -2.900000
75%    4.250000 -2.100000
max    7.100000 -1.300000

对于非数值性的数据，describe能产生另一种汇总统计：

In [13]:
obj = pd.Series(['a', 'a', 'b', 'c'] * 2)
obj

0    a
1    a
2    b
3    c
4    a
5    a
6    b
7    c
dtype: object

In [14]:
obj.describe()

count     8
unique    3
top       a
freq      4
dtype: object

下表是一些描述和汇总统计数据：(见书上)